<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sentiment Analyzer & Report Generator</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Faculty+Glyphic&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css\index.css' %}">
</head>
<body>
    <h1>Sentiment Analyser</h1>
    <h3>Analyse to Capitalise</h3>
    <p class="info1">Select a place of your choice to unlock its strengths, weaknesses, and measures for improvement</p>
    <form method="POST">
        {% csrf_token %}
        <div class="inputContainer">
            <div class="input">
                <label for="city_name">City:</label>
                <input type="text" id="city_name" name="city_name" required>
            </div>
            <div class="input">
                <label for="place_name">Place Name:</label>
                <input type="text" id="place_name" name="place_name" required>
            </div>
        </div>
        <button type="submit">Search Branches</button>
    </form>
    <p class="info2">To analyse a specific review live, click below:</p>
    <a href="{% url 'live_analysis' %}" class="live-analysis-link">Try Live Sentiment Analysis</a>
</body>
</html>